<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	This web application was built in order to organize a "movies list". To this list you can add movies you should watch or movies you already watched.
</p>

<p> 
	To contact me, mail to: <b>lironbackup@gmail.com </b>
</p>
