<% provide(:title, 'Help') %>
<h1>Help</h1>
<p> Get your questions answered.</p>
<h3> How to add a movie? </h3>
<p>
	I don't know yet.
</p>

<h3> How to delete a movie?</h3>
<p>
	Just press on "delete"
</p>
<h3> Wait, how is it any better from IMDB's lists?</h3>
<p> It isn't... yet.</p>