<% provide(:title, 'Home') %>
<h1>Welcome to AGNI KAI</h1>
	<div>	<!-- post #2-->
	<h3> Post #2 </h3>
	<p>There are many things about to come guys. I will let you know.</p>
</div>	<!-- post #2-->
<div> <!-- post #1-->
	<h3> Post #1 </h3>
	<p>
	Hello!!!! Welcome to the greatest web application ever!!!!!
	feel free to do whatever you want.
	It is nice
	</p>

	<p>
	Should I post something in here?

	This is the front page of my website, you know.

	What would you like to see?

 	I am not sure.
 </p>
 	OH!
 	I KNOW!
 	A KITTEN!!!

 	<div>
 	<img src="http://placekitten.com/g/200/300">
	 </div>

	</div><!-- post #1-->
</p>