<% provide(:title, 'Home') %>
<h1>Welcome to AGNI KAI! =^_^=</h1>
	<div>
	<p> My name is Liron Kitten and I will be your host. </p>
	<p> This is the best movie list with the best ratings because we all know that kitten have the best taste because they are unbiased. </p>
	<p> Here you will find out what kittens think about which movies and will know which movies to watch and which movies to NEVER WATCH IN YOUR LIFE. </p>
	<p> We're still deciding if non-kittens should be allowed to vote on movies. </p>
	<p> anyway, enjoy our website and have a purrfect day!</p>
 	<div>
 	<img src="http://placekitten.com/g/200/300">
	 </div>

	</div><!-- post #1-->
</p>