<% provide(:title, 'Kittens') %>
<h1>Random Kittens</h1>
<%10.times do |x|  %>  
  <img src="<%= generate_kitten(100+rand(300),100+rand(300))%>"> 
 <% end %>




 <p> Thanks to <a href="http://placekitten.com/"> placekitten.com </a> .