<% provide(:title, 'All Movies') %>
<h1> All Movies </h1>
<% if admin_user? %>
	<%= link_to "Add a movie", new_movie_path, class: "btn" %>
<% end %>
<table class="table table-bordered">
	<th>Movie</th>
	<th>IMDB</th>
	<th>Plot</th>

	<%= render @movies %>
</table>
