<li>
	 <%= gravatar_for user, size: 52 %>
	 <%= link_to user.name, user %>
	 <% if user.admin? %>
	    - Admin
	 <% end %>
	 <% if current_user.admin? && !current_user?(user) %>
	 	<div class="pull-right">
	    <%= link_to "Delete", user,:class => "btn btn-danger", method: :delete, data: { confirm: "You sure bro?" } %>
	    <%= link_to "Edit", edit_user_path(user), :class => "btn btn-default" %>
		</div>
	 <% end %>
</li>