<div class="footer">
  <footer>
    <small>
      AGNI KAI&copy; by L & A 2014
    </small>
    <span class="pull-right"> <%= image_tag("kittens.png", alt: "Cats.") %></span>
    <div class="btn-group">
      <%= link_to "About", about_path, :class => "btn btn-default" %>
      <%= link_to "Help", help_path, :class => "btn btn-default" %>
      <%= link_to "Contact", contact_path, :class => "btn btn-default" %>
    </div>
</div>