      <footer class="footer">
        <small>
          AGNI KAI&copy; by L & A 2014
        </small>
        <ul>
         <li> <%= link_to "About", about_path %> </li>
         <li> <%= link_to "Help", help_path %> </li>
         <li> <%= link_to "Contact", contact_path %> </li>
         <li> <%= image_tag("kittens.png", alt: "Cats.") %> </li>
        </ul>
      </footer>